PORT=10000

MONGO_URI=your_mongodb_connection_string

BOT_TOKEN=your_telegram_bot_token

TRONGRID_API_KEY=

ETH_RPC=https://ethereum-rpc.publicnode.com
OPTIMISM_RPC=https://optimism-rpc.publicnode.com
ARBITRUM_RPC=https://arbitrum-one-rpc.publicnode.com
BASE_RPC=https://base-rpc.publicnode.com

SOLANA_RPC=https://api.mainnet-beta.solana.com

BITCOIN_API=https://blockstream.info/api

ETH_USDT_CONTRACT=0xdAC17F958D2ee523a2206206994597C13D831ec7

OPTIMISM_USDT_CONTRACT=

ARBITRUM_USDT_CONTRACT=0xfd086bc7cd5c481dcc9c85ebe478a1c0b69fcbb9

BASE_USDT_CONTRACT=

TRON_USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

FEE_ADDRESS_ETHEREUM=
FEE_ADDRESS_TRON=
FEE_ADDRESS_BITCOIN=
FEE_ADDRESS_SOLANA=
